.about-container {
    height: 100vh;
    
}
p {
    padding-bottom: 10px;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    padding-bottom: 40px;
}
.about-title {
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
    font-size: 30px;
}