.about-container {
    height: 100vh;
}
.about-text {

}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    padding-bottom: 40px;
}