nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #6b8899;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
}
.props-name {
    color: rgb(211, 10, 10);
    font-size: 40px;
}